name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: AWS Config
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: us-east-1

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - run: |
          cd ./client
          bun install
          bun run build

      - name: Push to S3
        run: |
          aws s3 sync ./client s3://${{ secrets.S3_BUCKET_NAME }} --delete

      - name: Purge Cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_ID }} --paths "/*"
